<%= render 'shared/navbar' %>

  <div class="horray">
<div class="container">

<div class="theform">
  <div class="messagetitle1">
<h2><%= t "homes.email1"%></h2>
</div>
<%= render 'form', message: @message %>
</div>
</div>

</div>



