
<!-- CONTACT US-->
<div class="container" id="contact">
  <div class="contactform">
    <div class="container">
      <div class="contactus">
        <h2><%= t "homes.contactus"%></h2>
      </div>
      <div class="paragraphcontact">
        <p><%= t "homes.wewould"%></p>
      </div>
    </div>


    <!--contact form-->

    <div class="contactFormWrapper">
      <form>
        <div class="form-group">
        </div>
        <div class="text-center buttonemail">
          <button id="form-send-button" data-i18n="contactUs.form.sendButton" class="section-btn form-btn buttonscontact" type="button"><%= link_to 'Email', new_contact_path %></button>
        </div>
      </form>
    </div>
</div>
</div>

