<!-- Section: Features v.2 -->
<section class="container" id="services" style="padding-top: 140px; margin-bottom: 140px;">

  <!-- Section heading -->
  <h2 class="h1-responsive text-center titlesauce" style="margin-bottom: 60px;">Our Services</h2>
  <!-- Section description -->
  <h5 class="text-center lettercolor">Website Development</h5>
  <p class="lead grey-text text-center w-responsive letterem">Creating a website that speaks to your targeted audience is the best way to convert visits into sales.</p>

  <!-- Grid row -->
  <div class="row" style="margin-top: 70px;">

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <div >
          <%= inline_svg "design.svg", class: 'some-class1' %>
        </div>
          <h4 class="font-weight-bold">Design and Development</h4>
          <p class="grey-text">Create a beautiful, functional site that speaks to your clients. From scratch.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <div >
          <%= inline_svg "ecommerce.svg", class: 'some-class1' %>
        </div>
          <h4 class="font-weight-bold">E-Commerce </h4>
          <p class="grey-text">Increase revenue by bringing your business online. Offer and sell your products directly on your site.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <div >
          <%= inline_svg "support.svg", class: 'some-class1' %>
        </div>
          <h4 class="font-weight-bold">Support</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.2 -->

