<!-- Section: Features v.2 -->
<section class="container" style="margin-top: 140px; margin-bottom: 140px;">

  <!-- Section heading -->
  <h2 class="h1-responsive text-center titlesauce" style="margin-bottom: 60px;">Our Services</h2>
  <!-- Section description -->
  <h5 class="text-center lettercolor">Website Development</h5>
  <p class="lead grey-text text-center w-responsive letterem">Creating a website that speaks to your targeted audience is the best way to convert visits into sales.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-bullhorn blue-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Design and Development</h4>
          <p class="grey-text">Create a beautiful, functional site that speaks to your clients. From scratch.</p>
          <a class="btn btn-primary btn-sm">Learn more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-cogs pink-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">E-Commerce </h4>
          <p class="grey-text">Increase revenue by bringing your business online. Offer and sell your products directly on your site.</p>
          <a class="btn btn-primary btn-sm">Learn more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Support</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <a class="btn btn-primary btn-sm">Learn more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.2 -->

