<div class="footer2">
  <div class="footer-links2">
    <a href="https://www.instagram.com/thewebsyco/"><i class="fab fa-instagram" target="_blank"></i></a>
    <a href="https://www.facebook.com/thewebsyco/"><i class="fab fa-facebook" target="_blank"></i></a>
    <a href="https://www.linkedin.com/company/the-websy-co/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright2" style="margin-left: 40px !important;">
    Made with <i class="fas fa-heart"></i> at The Websy Co.
  </div>
</div>
