
<!-- Footer -->
<div class="footer">
  <div class="footer-about">
   THE WEBSY CO.
   <p> Websy is a digital consulting firm focused on helping enterprises to seize technology in order to get more clients, improve efficiency and build innovative products.</p>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/thewebsyco/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thewebsyco/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/the-websy-co"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
       <%=link_to "Copyright © 2019. TheWebsyCo. All rights reserved.", home_copyright_path%>
  </div>
</div>

