

    <div class="footer">
  <div class="footer-overabout">
</div>
</div>




<!-- Footer -->
<div class="footer">

  <div class="footer-about">
  <%= image_tag "footer24.png", height: 110 %>
   <p><%= t"homes.websyis"%></p>
  </div>

  <div class="footer-links">
    <a href="https://www.instagram.com/thewebsyco/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thewebsyco/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/the-websy-co" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
       <%=link_to "Copyright © 2019. TheWebsyCo. All rights reserved.", home_copyright_path%>
  </div>
</div>



