<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-body">
      <!-- Default form contact -->
<form class="text-center border border-light">

    <h3>Quote Your Online Project</h3>
<div class="textLeft">
  <label for="text">Do you want a website developed from scratch?</label>
    <div class="radio">
      <label><input type="radio" name="optradio" >Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
</div>
<br>
<div class="textLeft">
<label for="text">How urgent do you need the product? </label> <br>
<label class="checkbox-inline"><input type="checkbox" value="">Low</label>
<label class="checkbox-inline"><input type="checkbox" value="">Medium</label>
<label class="checkbox-inline"><input type="checkbox" value="">High</label>
</div>
<br>
<div class="textLeft">
  <label for="text">Do you need customized design and see some prototype options? </label>
    <div class="radio">
      <label><input type="radio" name="optradio" >Yes, I want it to be unique.</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No, I already have something in mind.</label>
    </div>
</div>
<br>
<div class="textLeft">
<label for="text">Which of this will you need?</label> <br>
<label class="checkbox-inline"><input type="checkbox" value="">Maps</label>
<label class="checkbox-inline"><input type="checkbox" value="">Chat</label>
<label class="checkbox-inline"><input type="checkbox" value="">Blog</label>
<label class="checkbox-inline"><input type="checkbox" value="">Payment</label>
<label class="checkbox-inline"><input type="checkbox" value="">Admin/Login Account</label>
<label class="checkbox-inline"><input type="checkbox" value="">Cart</label>
</div>
<br>
<div class="textLeft">
  <label for="text"> Do you need to upload images/videos? </label>
    <div class="radio">
      <label><input type="radio" name="optradio" >Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
</div>

    <!-- Material unchecked -->
<!-- Default unchecked -->
<!-- Default unchecked -->

    <input type="text" class="form-control mb-4" placeholder="Name">
  <input type="number" class="form-control mb-4" placeholder="Phone number">
  <input type="text" class="form-control mb-4" placeholder="Email">

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Questions, comments, or more information about requirement"></textarea>
    </div>

    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
<!-- Default form contact -->
    </div>

  </div>
</div>
</div>
