
<%= render 'shared/navbar' %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2 class="display-4">Pricing</h2>
      <p class="lead"></p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">STARTER</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$399</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Single Page</li>
              <li>Clean & Simple Design</li>
              <li>Static Content</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">BOOSTER</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$699</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Multiple Pages</li>
              <li>Clean & Simple Design</li>
              <li>CMS Backend</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">PRO</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$999</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Multiple Pages</li>
              <li>Stylish Design</li>
              <li>Blog & Image Gallery</li>
              <li>Custom Backend</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
                <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">ELITE</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$1999</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>E-commerce </li>
              <li>Stylish Design</li>
              <li>Custom Backend</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
      </div>

<hr>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2 class="display-4">Plans & Subscriptions</h2>
      <p class="lead"></p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">STARTER</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$50 <small class="text-muted">/ mo</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Content editions</li>
              <li>Content updates</li>
              <li>Maintainance</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Editable KITT</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$100 <small class="text-muted">/ mo</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Content editions</li>
              <li>Content updates</li>
              <li>Maintainance</li>
              <li>Customer Service</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">PRO</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$1000 <small class="text-muted">/ mo</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Content editions</li>
              <li>Content updates</li>
              <li>Maintainance</li>
              <li>Customer Service</li>
              <li>Marketing management</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
                <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">ELITE</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$2000 <small class="text-muted">/ mo</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
               <li>Content editions</li>
              <li>Content updates</li>
              <li>Maintainance</li>
              <li>Customer Service</li>
              <li>Marketing management</li>
              <li>Custom Backend</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More</button>
          </div>
        </div>
      </div>








