.copyright-logo {
  img{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
 margin-left: 412px;
}
}

.copyright-text {
align-items:center;
}

.footer-copyright{
  a {
    color: white;
    text-decoration: none;
  }
}
