.copyright-logo {
  img{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;

}
     margin-left: 35% !important;
    margin-bottom: -10% !important;
}

.copyright-text {
align-items:center;
margin:10%;
color: #0A1C58;

h2{
  text-align: center;
  padding-bottom: 50px;
}
p{
  text-align: left;
}
}

.footer-copyright{
  a {
    color: white;
    text-decoration: none;
        margin-right: 74px;
  }
}

.footer-copyright  a:hover {
    color: papayawhip;
    text-decoration: none;
}
