// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@import "timeline";
@import "homepage";
@import "copyright";
@import "contacts";
@import "features";
@import "howwework";
@import "navbar";
@import "footer";
@import "homepage";
@import "wedo";

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    margin-top: 71px;
}

.buttonemail a {
    color: white !important;
  }


.buttonscontact{
  background-color: #0A1C58;
  padding:20px 100px;
  border-radius:35px;
  color: #fff;
  font-size:1.5em;
  letter-spacing: 2px;
  margin-top:20px;
  text-decoration: none !important;

a{
  text-decoration: none;
}
}

.buttonscontact:hover{
  border:3px solid white;
  font-size:1.3em;
  letter-spacing: 2px;
  text-decoration:none !important;
  a{
  text-decoration: none;
}
}

.buttonsaction{
  background-color: #0A1C58;
  padding:20px 100px;
  border-radius:35px;
  color: #fff;
  font-size:1.5em;
  letter-spacing: 2px;
  margin-top:20px;
  position:absolute;
  bottom:80px;
  left:40%;
}



.buttonsaction:hover{
  background-color: transparent ;
  padding:20px 100px;
  border-radius:35px;
  color: white !important;
  border:3px solid white;
  font-size:1.3em;
  letter-spacing: 2px;
}






/* Typewriter banner */
.typewriter {
  font-family: Helvetica, Neue;
  font-weight: bold;
  display: inline-block;
  color: #0A1C58;
  padding-top: 20px;
  margin-bottom: 20px;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%
  }
  to {
    width: 100%
  }
}

@keyframes blink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}
main-title hidden {
  box-shadow: 0 2px 93px 0 rgba(0,0,0,0.5);
  height: 50%;
  position: absolute;
  transform: translate(110%, 20%);
  width: 25%;
  z-index: 2;
}


// parallax effect

.demo-frame header {
  display: none;
}

.demo-wrapper {
  min-height: 500px;
}

.bsap_1280449 {
  position: absolute;
  top: 0;
  right: 0;
}

.parallax [class*="bg__"] {
  position: relative;
  height: 300px;
  text-indent: -9999px;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.parallax [class*="bg__"]:nth-child(2n) {
  box-shadow: inset 0 0 1em #111;
}
.parallax .bg__foo, .parallax .bg__bazz {
  height: 100vh;
}
.parallax .bg__foo {
  background-image:image-url('cool-background.png');
  opacity: 0.6;
  &:before{
    opacity: .1;
  }
}
.parallax .bg__bar {
  background-image: image-url('try8.jpg');
}
.parallax .bg__baz {
 background-image: image-url('try11.jpeg');
}
.parallax .bg__bazz {
  background-image: image-url('try7.jpg');
}
.parallax .bg__break {
  // box-shadow: inset 0 0 1em #111;
  background-image: image-url('try11.jpeg');
}

.parallax .bg__break2 {
  // box-shadow: inset 0 0 1em #111;
  background-image: image-url('image.jpeg');
}

.parallax .capture {
  float: right;
  width: 200px;
  padding: 1em;
  margin: -1.5em 1em 0 0;
  text-indent: 0;
  background: rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0.125em #333;
  color:rgb(20,20,20);
}

article .container {
  width: 600px;
  margin: 0 auto;
}
article .header {
  position: relative;
  margin: -5em 0 0 0;
  padding: 1em;
  text-align: left;
  font-size: 2em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
}
article h1, article h2 {
  margin: 0 0 0.333em;
}
article section {
  padding: 3em;
}
article section.parallax {
  margin: 0;
  padding: 0;
}

#frame {
  margin: 0 auto;
}





@media only screen and (max-width: 768px){
.parallax .bg__foo, .parallax .bg__bazz {
    height: 51vh;
}

.parallax [class*="bg__"] {
    position: relative;
    text-indent: -9999px;
    background-attachment: fixed;
    background-position: top center;
    height: 45vh;
    background-size: cover;
}

   .bg__bar{
    display: none;
   }
}

// // Footer
// .container-extended{
//   width: 100% !important;
//   margin:auto !important;
//   box-sizing:border-box !important;
//   overflow-x:hidden !important;
// }

// .contactUsDiv {
//   float: left;
//   background:-webkit-linear-gradient(bottom, var(--separator-color) 0%, var(--separator-color) 38%,
//     rgba(255, 255, 255, 1) 38%,
//     rgba(255, 255, 255, 1) 85%,
//     rgba(255, 255, 255, 1) 100%) !important;
// }
