// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messagetitle1 h2 {
    font-family: Bebas Neue !important;
    font-weight: bold;
    // color: #0A1C58;
    color:white;
    text-shadow: 3px 2px 0px black;
    text-align: center;
    padding-top: 5%;
    font-size: 43px;
}

.messagetitle2 h2{
    text-align: center;
    padding-top: 5%;
    font-size: 43px;
    color: #0A1C58 !important;
}

.theform{
  margin-top:15%;
  margin-bottom:15%;
}

.horray {
  background-image: image-url('back.png');
  margin:auto;
  opacity: 0.9;
}


@media only screen and (min-width: 300px){

.messagetitle1 h2 {
 padding-top :11% !important;
}
.messagetitle2 p {
    font-family: Helvetica Neue !important;
    color: white;
    text-shadow: 1px 1px 1px black;
        margin-top: -44px;
}
.messagetitle2 {
    text-align: center;
    font-size: 43px;
     color: #0A1C58 !important;
    padding-top: -3% !important;
}

}


.form-actions .btn{
  color: #fff !important;
}

