

//WHAT WE DO PART

.wedo {
  position: relative;
  padding-top: 30px;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  display: inline-block;
  text-align: left !important;
  text-shadow: 4px 0px 9px white;


  h1{
   font-size: 40px;
    font-family: Bebas Neue !important;
    // font-weight: bold !important;
    color: #0A1C58;
    padding: 26px;
  }

  p{
    line-height: 34px;
    margin-left: 23px;
    padding-bottom: 86px;
    text-align: justify !important;
    font-weight: 300 !important;
    font-family: Helvetica Neue,  !important;
    font-size: 22px !important;
  }

}




@media only screen and (max-width: 320px) {
  .wedo h1 {

  }
}



@media only screen and (max-width: 768px){
.parallax [class*="bg__"] {
    display: none;
}

.titleweare h1 {
    display: none !important;
}

.wedo h1{
  text-align: center !important;
  margin-top:-23px;
  }

  .wedo img {
  display:none;
}

.wedo p {
    text-align: justify !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    font-family: Helvetica Neue, !important;
    margin: 14px;
}

}

@media only screen and (min-width: 300px){
.wedo {
    // img{
    //   height: 50px;
    //   // margin-top: 456px;
    // }

  }
  .parallax .bg__foo {
  background-image:image-url('back.png');
  opacity: 0.6;
  &:before{
    opacity: .1;
}
}

}





